body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}

.mainContainer {
  

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 90, 11);
}

.innerContainer {
  background-color: rgb(230, 211, 118);
  border-radius: 20px;
  height: 80vh;
  width: 40vh;
  Box-shadow: 5px 5px 15px rgba(0, 2, 3, 0.459);

}

.listItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

h1 {
  padding-top: 0.7rem;
  height: 3rem;
  background-color: rgb(227, 179, 5);
  text-align: center;
}

input {
  font-size: large;
  text-align: center;
  border: none;
  border-radius: 10px;
  height: 2rem;
  display: inline-block;
  width: 11rem;
  margin-left: 50px;
  outline: none;
}

.inputDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add {
  font-size: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
  width: 25px;
  border-radius: 50px;
  color: rgb(221, 207, 230);
  background-color: green;
}

.add:hover {
  color: green;
  border: 2px solid green;
  background-color: rgb(221, 207, 230);
}

ol {
  margin: 0;
  padding: 0;
}

li {
  color: black;
  margin-left: 15px;
  list-style: none;
  line-height: 3rem;
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
}

.delete {
  font-size: 25px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 20px;
  outline: none;
  text-align: center;
  padding: 5px;
  width: 25px;
  border-radius: 50px;
  color: rgb(221, 207, 230);
  background-color: red;
}

.delete:hover {
  color: red;
  border: 2px solid red;
  background-color: rgb(221, 207, 230);
}